<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286116775132-o7pu3vi3in1ise59e8lnglq4ua954upm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286116775132-o7pu3vi3in1ise59e8lnglq4ua954upm</string>
	<key>API_KEY</key>
	<string>AIzaSyCVnbpHcpAqK6nEPSSEZx9ld6ESbMoxYRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>286116775132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hirusharukmal.Foodapp</string>
	<key>PROJECT_ID</key>
	<string>foodapp-bc4bc</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-bc4bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286116775132:ios:6a79346329cd7510dde019</string>
</dict>
</plist>